@import "tailwindcss";

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --color-main-color: oklch(0.6 0.2 15 / 1);
  /* --color-main-color: oklch(0.6 0.2 150 / 1); */
}