@import "tailwindcss";

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --color-main-color: oklch(0.7 0.2 35 / 1);
  --color-default-bg: oklch(0.21 0 0 / 1);
  --color-secondary-color: oklch(0.28 0 0 / 1);
  --color-alt: oklch(0.6 0.2 150 / 1);
}